<div class="back">
  <div class="sideDisplay">
    <div class="left">
      <div class="leftChild">
        <img src="../../assets/img/rooster-white.png">
        <br/>
        Basic Twitter
      </div>
    </div>
    <div class="right">
      <div class="rightChild">
        To continue, please login or register.
        <br/>
        <button class="btn btn-primary" (click)="openLogin()">Login</button>
        <br/>
        <button class="btn btn-primary" (click)="openRegister()">Register</button>
      </div>
    </div>
  </div>
  This is only a practice project and can never be the exact copy of Twitter. Only for educational purposes.
</div>


